html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#logo {
  font-family: 'Righteous', cursive;
  letter-spacing: .1rem;
}
@media (min-width: 1200px) {                  
  #logo {
     font-size: 30px !important;
   }
 }
.feature-div {
  margin-top:15vh;
}

          
  .contact-form  {
     width: 72%;
   }
   @media (max-width: 767px) {                  
    .contact-form {
       width:80%;
     }
   }

@media (max-width: 767px) {                  
 .feature-div  {
    margin-top: 20vh;
  }
}

#left-header {
  text-align: center;
}

.contact-form{
  margin:10vh 10vw 10vh 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-link {
  margin-right: 2vw;
}

.desc-grid {
  margin-top: 23vh;
  display: grid;
  grid-template-areas: 
  "box1 box2";
  grid-gap: 10px;
  align-items: center;
  margin-bottom: 10vh;
  max-width: 1400px !important;
}

@media (min-width: 1367px) {                  
  .desc-grid {
  margin-top: 23vh;
  display: grid;
  grid-template-areas: 
  "box1 box2";
  grid-gap: 0px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
  text-align: center;
  }
}


@media (max-width: 767px) {                  
  .desc-grid {
    margin-top: 10vh;
    display: grid;
    grid-template-areas: 
    "box1"
    "box2";

  justify-content: center;
  align-items: center;
  text-align: center;
  width:100%;
  }
}

.desc-box1{
grid-area:'box1';
align-self: center;
order: 1;
width: 40vw;
margin-right: 3vw;
max-width: 600px;
}

.desc-box2{
  grid-area: 'box2';
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3vw;
  width: 40vw;
  max-width: 600px;
}
@media (min-width: 1267px) {                  
  .desc-box1 {
  order: 1;
  margin-right: 3vw;
  }
}
@media (max-width: 767px) {                  
  .desc-box2 {
  order: 2;
  margin-left: 3vw;
  }
}
@media (min-width: 1267px) {                  
  .desc-box2 {
   width:40vw;
   text-align: center;
   justify-self: center;
   margin-left: 0;
  }
}

@media (max-width: 767px) {                  
  .desc-box2 {
    width: 100%;
    justify-self: center;
    margin-left: 0;
  }
}

.intro-container {
  margin-top: 28vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width:100%;
  max-width: 1400px;
}

.intro-box1 {
  grid-column-start: 1;
  grid-column-end: 2;
  max-width: 600px;
}


.intro-box2 {
  grid-column-start: 2;
  grid-column-end: 3;
  max-width: 600px;
}


@media (max-width: 767px) {                  
  .intro-container h2 {
    margin-top: 1.4vh;
    font-size: 200%;
  }
}

@media (min-width: 1367px) {                  
  .intro-box2 {
    margin-left: 6vw;
  }
}
@media (max-width: 767px) {                  
  .intro-box2 {
    display: none;
  }
}

@media (max-width: 767px) {                  
  .intro-box1 {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 0vw;
  }
}


@media (min-width: 1400x) {                  
  .intro-container {
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 28vh 0 16vh 0;
  }
}


@media (max-width: 767px) {                  
  .intro-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin: 28vh 0 16vh 0;
  }
}
@media (min-width: 1467px) {                  
  #header-intro {
    font-size: 56px !important;
  }
}

@media (min-width: 1467px) {                  
  #p-intro {
    font-size: 26px !important;
  }
}
@media (max-width: 767px) {                  
  #header-intro {
    font-size: 7vw;
  }
}

@media (max-width: 767px) {                  
  #p-intro {
    font-size: 3vw;
  }
}
@media (min-width: 1467px) {                  
  .desc-h2 {
    font-size: 40px !important;
  }
}
@media (min-width: 1467px) {                  
  .desc-p {
    font-size: 26px !important;
    text-align: center !important;
  }
}

@media (max-width: 767px) {                  
  .desc-h2 {
    font-size: 4.8vw ;
  }
}
@media (max-width: 767px) {                  
  .desc-p {
    font-size: 3.2vw;
    text-align: center;
  }
}

@media (max-width: 767px) {                  
  .headers {
    font-size: 7.8vw !important;
  }
}
@media (min-width: 1200px) {                  
  .headers {
    font-size: 46px;
  }
}

@media (min-width: 1200px) {                  
  .obs-header {
    font-size: 30px;
  }
}

.feature-container {
  display: grid;
  grid-template-areas: 
  "box1 box2"
  "box4 box3"
  "box5 box6";
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-top: 20px;
  max-width: 1400px;
}
@media (min-width: 1267px) {                  
  .feature-container{
    text-align: center !important;
  }
}

.feature-box1 {
  grid-area: box1;
  order: 1;
  max-width: 600px;
}
.feature-box2 {
  grid-area: box2;
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 4vw;
  max-width: 600px;
}
.feature-box3 {
  grid-area: box3;
  order: 3;
  margin-top: 10vh;
  max-width: 600px;
}
.feature-box4 {
  grid-area: box4;
  order: 4;
  margin-top: 10vh;
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 5vw;
  max-width: 600px;
}
.feature-box5 {
  margin-top: 15vh;
  grid-area: box5;
  order: 5;
  max-width: 600px;
}
.feature-box6 {
  margin-top: 8vh;
  grid-area: box6;
  order: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left:4vw;
  max-width: 600px;
}
@media (max-width: 767px) {                  
  .feature-box6{
 margin-top: -4vh;
 margin-left: 0;
  }
}

@media (max-width: 767px) {                  
  .feature-box4{
 margin-top: 2vh;
 margin-right: 0;
  }
}
@media (max-width: 767px) {                  
  .feature-box2{
 margin-left: 0;
  }
}


.header-team {
  font-size: 2.8vw;
}
@media (min-width: 767px) {                  
  .header-team{
 font-size: 1.4vw;
  }
}

@media (max-width: 767px) {                  
  .header-team{
 margin-top: -4vh;
 font-size: 5.2vw !important;
  }
}
@media (max-width: 767px) {                  
  .feature-container {
  margin-top: -8vh;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
  "box1" 
  "box2"
  "box3" 
  "box4"
  "box5" 
  "box6";
  justify-content: center;
  align-items: center;
  text-align: center;
  }
}


#button-mobile {
  font-size: 1.5vw;
  width: 20vw;
  height: auto !important;
  background-color: #8CD8BE !important;
  border: none;
  color:black;
  margin-top: 1.5vh;
}
@media (min-width: 1367px) {                  
  #button-mobile {
    height: 5vh ;
    font-size: 23px;
    max-width: 270px;
    background-color: #8CD8BE !important;
    margin-top: 0;
  }
}

@media (max-width: 767px) {                  
  #button-mobile {
    height: 5vh ;
    font-size: 2.6vw;
    width: 30vw !important;
    background-color: #8CD8BE !important;
    margin-top: 0;
  }
}
@media (max-width: 767px) {                  
  #feature-header {
    margin-top: -6vh;
  }
}

.team-container {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 
  "box1 box2 box3 box4";
  justify-content: space-between;
  align-items: center;
  text-align: center;
  }

@media (max-width: 767px) {                  
  .team-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
  "box1 box2"
  "box3 box4";
  justify-content: center;
  align-items: center;
  text-align: center;
  }
}

.team-box1{
  grid-area: box1;
}
.team-box2{
  grid-area: box2;
}
.team-box3{
  grid-area: box3;
}
.team-box4{
  grid-area: box4;
}

@media (max-width: 767px) {                  
  .team-box3 {
   margin-top: 6vh;
  }
}
@media (max-width: 767px) {                  
  .team-box4 {
   margin-top: 6vh;
  }
}

#github {
  height: 50px;
  position: fixed;
  bottom: 5px;
  right: 20px;
  z-index: 10;
}

@media (max-width: 767px) {                  
  #github {
   display: none;
  }
}

@media (max-width: 767px) {                  
  #feature-page {
    margin-top: '10vh';
  }
}

.download-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download {
  margin: 20vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36vh;
  width:100%;
  background-color: #333333;
  flex-direction: column;
}

.download-h2 {
  text-align: center;
  font-size: 2.3vw;
  margin: 0vh 3vw 8vh 3vw;
  color:white;
}
@media (max-width: 767px) {                  
  .download-h2 {
    font-size: 5vw;
  }
}

#icon {
  color: white;
  margin: 0 8vw;
}


@media (max-width: 980px) {                  
  #button-header {
   display: none;
  }
}


@media (max-width: 900px) {                  
  #icon-class {
   display: none;
  }
}

